@import 'assets/css/mixins.scss';

.payment-container {
    @include flex(row, center);
    background-image: url('../../assets/images/page-background.png');
    background-size: 100%;

    img {
        width: 30vw;
        min-width: 300px;
    }
}
