@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

.slide {
    @include page-background;
    background-color: $bg-color;
    height: 100%;
}

.slide-button {
    @include button(
        0.375em,
        3.75em,
        1rem,
        $primary,
        $primary,
        white,
        white,
        $primary
    );
}

.slide-container {
    @include flex(row, space-between, center);
    height: 100%;
    width: 88%;
    margin: auto;

    .slide-content {
        @media screen and (max-width: $laptop) {
            height: 45%;
        }

        .slide-title {
            @include font(4rem, 400, 1em);
            padding-bottom: 0.25em;

            @media screen and (max-width: $laptop) {
                font-size: 3rem;
            }
        }

        .slide-description {
            @include roboto;
            @include font(2.25rem, 200, 1.065em);
            color: $light-gray;
            width: 65%;
            padding-bottom: 1.25em;

            @media screen and (max-width: $laptop) {
                font-size: 1.5rem;
            }
        }
    }
}

// FIRST SLIDE
img.first-slide-puzzle {
    min-width: 250px;
    width: 28%;
    padding-right: 3em;
}

.slide-button:hover {
    background-color: white;
    color: $primary;
}

// SECOND SLIDE
.second-slide {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;

    video {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 125%;
    }

    .second-slide-background {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(24, 24, 24, 0.5);

        .second-slide-content {
            .second-slide-title {
                padding-bottom: 0.5em;
            }

            .second-slide-button:hover {
                background-color: transparent;
            }
        }

        .second-slide-reviews {
            @include flex(row, space-between, center);
            align-self: flex-start;
            padding-top: 2em;
            margin-right: -2.25em;

            img {
                width: 2.25rem;
                padding-right: 0.75em;
            }

            p {
                font-size: 1.25rem;
            }
        }
    }
}

// THIRD SLIDE
.slide-container {
    .slide-content {
        .third-slide-description {
            width: 80%;
            @media screen and (max-width: $laptop) {
                width: 60%;
            }
        }
    }
}

.third-slide-button {
    padding: 0.375em 1em;
}

.swiper-container {
    width: 50%;

    .third-slide-swiper {
        .swiper-button-prev,
        .swiper-button-next {
            height: 25% !important;
            width: 20% !important;
            background-size: cover;
            top: 40% !important;

            &::after {
                content: none !important;
            }
        }

        .swiper-button-prev {
            background-image: url('/assets/images/red-prev.png');
            left: 4% !important;
        }

        .swiper-button-next {
            background-image: url('/assets/images/red-next.png');
            right: 4% !important;
        }

        @media screen and (max-width: 960px) {
            .swiper-button-prev {
                background-image: url('/assets/images/red-prev.png');
                left: 8% !important;
            }

            .swiper-button-next {
                background-image: url('/assets/images/red-next.png');
                right: 8% !important;
            }
        }

        .swiper-slide {
            width: 15vmax !important;
            max-width: 225px;

            img.third-slide-character {
                width: 100%;
            }
        }

        @media screen and (max-width: 1300px) {
            .swiper-slide {
                width: 13vmax !important;
            }
        }

        @media screen and (max-width: 960px) {
            .swiper-slide {
                width: 12vmax !important;
            }
        }
    }
}

//!
