.hm-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 4em auto 7em;

    img {
        width: 45%;
        padding: 1em 0;
    }

    .hm-slide-text {
        width: 50%;
        padding-left: 4.5em;
        margin-bottom: -1.25em;

        h2 {
            color: #252525;
            font-size: 2.125rem;
            font-weight: 400;
            padding-bottom: 0.375em;
        }

        p {
            font-family: 'HelveticaNeueCyr', sans-serif;
            font-weight: 100;
            color: #474747;
            font-size: 1.625rem;
            padding-bottom: 0.75em;
        }
    }
}

// HOME MAIN FISRT SLIDE

// HOME MAIN SECOND SLIDE

.hm-slide-second {
    background-image: url('../../../assets/images/kyrgyz-flag.png');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}
