@import 'assets/css/variables.scss';

@mixin hammersmith-one {
    font-family: 'Hammersmith One', sans-serif;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin verdana {
    font-family: 'Verdana', sans-serif;
}

@mixin flex($fd: row, $jc: flex-start, $ai: 'normal') {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin background($bi, $w: 100%, $br: no-repeat, $bs: auto, $bp: left top) {
    width: $w;
    background-image: url($bi);
    background-repeat: $br;
    background-size: $bs;
    background-position: $bp;
}

@mixin button(
    $pb,
    $pi,
    $fs: 1rem,
    $bgc: $primary,
    $bc: $primary,
    $c: white,
    $hbgc: white,
    $hc: $primary
) {
    font-size: $fs;
    border-radius: 0.5em;
    background-color: $bgc;
    border: 0.125em solid $bc;
    color: $c;
    padding: $pb $pi;
    cursor: pointer;

    &:hover {
        background-color: $hbgc;
        color: $hc;
    }

    div {
        aspect-ratio: 1 / 1;
        height: calc($fs + $fs / 4);
        border: 0.125em solid $bgc;
        border-radius: 50%;
        border-left-color: transparent;
    }

    &.loading {
        @include flex(row, center, center);
        background-color: $hbgc;
        color: $hc;
    }

    &.loading div {
        animation: 0.5s loading linear infinite;
    }
}

@mixin arrow {
    @include flex(row, center, center);
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation: 1s arrow-bounce ease-in-out infinite alternate;

    & > img {
        width: 70%;
    }
}

@mixin information-card {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes arrow-bounce {
    from {
        top: 0;
    }

    to {
        top: 10px;
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
