@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

footer {
    width: 100%;
    background-color: $dark-text;
    color: white;
    padding: 2.75em 0 2.25em;

    .footer-container {
        @include flex(column, flex-start, center);
        width: 92%;
        margin: auto;

        p {
            @include font(2rem);
            padding-bottom: 1.5em;
        }

        hr {
            width: 100%;
            background-color: $hr-bg;
        }

        .footer-contacts {
            @include flex(row, space-between, center);
            width: 88%;
            padding-bottom: 2.125em;

            p {
                @include font(1.5rem);
                padding-bottom: 0.25em;
                user-select: text;
            }

            hr {
                background-color: white;
            }

            a button {
                @include button(
                    0.625em,
                    4em,
                    1rem,
                    transparent,
                    white,
                    white,
                    white,
                    $dark-text
                );
            }

            .footer-number {
                @include flex(column, flex-start, center);

                hr {
                    width: 115%;
                }

                span {
                    @include roboto;
                    @include font(1.25rem, 300);
                    color: $light-gray;
                    padding-top: 0.5em;
                    user-select: text;
                }
            }
        }

        .footer-social {
            @include flex(row, right);
            gap: 2em;
            width: 100%;
            margin-top: 1em;
            padding-inline: 4em;

            img {
                cursor: pointer;
            }

            .instagram-icon {
                width: 2.7em;
            }
        }
    }
}
