.slide-title {
    font-size: 3.75rem;
    font-weight: 400;
}

.slide-description {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #797979;
}

// FIRST SLIDE

.first-slide {
    height: 700px;
    background-image: url('../../images/header-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
