.slide-title {
    font-size: 4.25rem;
    font-weight: 400;
    line-height: 1em;
}

.slide-description {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    line-height: 1.065em;
    color: #797979;
    width: 65%;
}

@media screen and (max-width: 850px) {
    .slide-title {
        font-size: 3.5rem;
    }

    .slide-description {
        font-size: 2rem;
    }
}

// FIRST SLIDE

.first-slide {
    height: 100%;
    background-image: url('../../images/header-background.svg');
    background-size: 100%;
    background-repeat: no-repeat;

    .slide-container {
        height: 100%;
        width: 88%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            min-width: 250px;
            width: 28%;
            padding-right: 3em;
        }

        .slide-content {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .slide-button {
                background-color: #dd5555;
                padding: 0.375em 3.75em;
                border-radius: 0.25em;
                color: #fff;
                border: 0.125em solid #dd5555;
            }

            .slide-button:hover {
                background-color: #fff;
                color: #dd5555;
            }
        }

        @media screen and (max-width: 1200px) {
            .slide-content {
                height: 55%;
            }
        }
    }
}

// SECOND SLIDE
