.hm-so-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 4em auto 7em;
    padding: 1em 4.5em 1em 0;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;

    .hm-so-slide-text {
        width: 50%;
        padding-left: 8.5em;
        margin-bottom: -1.25em;

        h2 {
            color: #252525;
            font-size: 2.125rem;
            font-weight: 400;
            padding-bottom: 0.375em;
        }

        p {
            font-family: 'HelveticaNeueCyr', sans-serif;
            font-weight: 100;
            color: #474747;
            font-size: 1.625rem;
            padding-bottom: 0.75em;
        }

        @media screen and (max-width: 1000px) {
            h2 {
                font-size: 2rem;
            }
        }
    }

    .hm-so-slide-img {
        width: 45%;
        height: 100%;
        // padding: 1em 4.5em 1em 0;
        // border-radius: 1em;
        overflow: hidden;

        img {
            width: 100%;
            // height: 100%;
        }
    }
}

// HOME MAIN SECTION ONE FISRT SLIDE

.hm-so-slide-first {
    background-image: url('../../../assets/images/skull.png');
}

// HOME MAIN SECTION ONE SECOND SLIDE

.hm-so-slide-second {
    background-image: url('../../../assets/images/kyrgyz-flag.png');

    // .hm-so-slide-img {
    //     background-image: url('/assets/images/community.jpeg');
    //     background-size: 100%;
    // }
}

// HOME MAIN SECTION ONE THIRD SLIDE

.hm-so-slide-third {
    background-image: url('../../../assets/images/pumpkin.png');
}
