@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

.civic-main {
    @include background('/assets/images/page-background.png', 100%, 100%);

    .civic-header {
        @include flex(column, space-between, flex-start);
        height: 85vh;

        .civic-header-text {
            width: 100%;
            margin-top: 16%;
            padding-left: 4em;

            h1 {
                font-size: 4rem;
                font-weight: 400;
                color: $dark-text;
                margin-bottom: 0.125em;
            }

            p {
                @include roboto;
                font-weight: 100;
                font-size: 1.75rem;
                width: 30%;
                color: $light-gray;
            }
        }

        a {
            align-self: center;

            .civic-arrow {
                @include arrow;
            }
        }
    }

    .civic-content {
        padding-top: 3em;
        margin-bottom: 6em;
        width: 100%;

        p {
            @include roboto;
            font-size: 1.5rem;
            font-weight: 100;
            line-height: 115%;
            color: $dark-text;
        }

        .civic-container {
            width: 90%;
            margin: auto;
            padding-top: 2em;

            .civic-subtitle {
                @include hammersmith-one;
                color: $primary;
                font-weight: 400;
                font-size: 1.375rem;
                margin-top: 2.5em;
                margin-bottom: 0.5em;
            }

            .civic-civic-engagement {
                @include information-card;
                @include flex(row, flex-start, center);
                padding-right: 4em;

                img {
                    width: 9%;
                    margin: 0 5em;
                }

                .civic-civic-engagement-text {
                    @include flex(column);
                    gap: 2em;
                    width: 100%;
                    margin: 1.625em 0;
                }
            }

            .civic-card-wrapper {
                @include flex(column);

                .civic-contribution-to-society {
                    @include information-card;
                    padding: 3.2em 6em 3.2em 3em;
                }

                .civic-how-we-help {
                    @include information-card;
                    padding: 2.5em 6em 2.5em 3em;
                }
            }
        }
    }
}
