@import '../../assets/css/variables.scss';
@import '../../assets/css/mixins.scss';

$input-bg-color: #eeeeee;
$placeholder-color: #8a8a8a;

.register-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/images/page-background.png');
    background-size: 100%;

    & p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.25em;
    }

    & span,
    & input,
    & select {
        @include roboto;
        font-size: 1rem;
        font-weight: 400;
        color: $primary;
    }

    & span {
        margin-bottom: 0.25em;
    }

    & hr {
        width: 65%;
        background-color: $border;
        margin-bottom: 1.25em;
    }

    & > button {
        font-size: 1.125rem;
        border-radius: 0.5em;
        color: white;
        background-color: $primary;
        border: 0.125em solid $primary;
        padding: 0.625em 4.5em;
        margin: 0.5rem 0 2.5rem;

        &:hover {
            background-color: white;
            color: $primary;
        }
    }

    .error-message {
        margin-top: 0.25em;
        color: red;
        font-size: 0.825rem;
    }

    .register-form {
        width: 40%;
        min-width: 550px;
        background-color: white;
        box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
        border-radius: 0.75em;
        margin: 3em auto 2em;
        padding: 3em 1.5em 1.5em;

        @media screen and (max-width: 1100px) {
            & {
                min-width: 480px;
            }
        }

        @media screen and (max-width: 968px) {
            & {
                min-width: 440px;
            }
        }

        @media screen and (max-width: 818px) {
            & {
                min-width: 410px;
            }
        }

        .register-title {
            font-size: 2.75rem;
            margin-bottom: 1.375em;
        }

        .form-select {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.75em;
            width: 100%;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 65%;
                transform: translateY(-35%);
                right: 0;
                width: 1rem;
                height: 1rem;
                margin-right: 0.75em;
                background-image: url('../../assets/images/input-arrow-down.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                pointer-events: none;
            }

            & select {
                color: #252525;
                background-color: $input-bg-color;
                border: none;
                border-radius: 0.75em;
                padding: 0.75em 1em;
                outline-color: $primary;
                appearance: none;

                &.disabled {
                    color: $placeholder-color;
                }
            }
        }

        .form-input {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.75em;
            width: 100%;

            & input {
                color: $dark-text;
                background-color: $input-bg-color;
                border: none;
                border-radius: 0.75em;
                padding: 0.75em 1em;
                outline-color: $primary;

                &::placeholder {
                    color: $placeholder-color;
                }
            }
        }

        .register-contact-form {
            margin-bottom: 4em;

            .form-input .register-contact-form-editable-select {
                position: relative;

                & > input {
                    width: 100%;
                }

                .register-contact-form-flag-arrow {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    height: 100%;
                    padding: 0 0.725em;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;

                    .register-contact-form-flag-wrapper {
                        display: flex;
                        align-items: center;
                        width: 2.5rem;
                        height: 1.25rem;
                        margin-right: 0.5em;
                        border-radius: 0.25em;
                        overflow: hidden;

                        .register-contact-form-flag {
                            width: 100%;
                        }
                    }

                    .register-contact-form-arrow {
                        width: 1rem;
                    }

                    & > select {
                        position: absolute;
                        right: 1em;
                        width: 1.5rem;
                        height: 1.5rem;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
            }
        }

        .register-game-form {
            margin-bottom: 4em;

            .register-game-form-inputs-wrapper {
                display: flex;
                justify-content: space-between;
                gap: 2em;
                margin-top: 1.25em;

                & > .form-input {
                    margin: 0;
                }
            }
        }

        .register-date-form {
            .register-date-form-inputs-wrapper {
                display: flex;
                justify-content: space-between;
            }

            .register-date-form-inputs {
                width: 44%;
            }
        }
    }
}
