@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

.about-main {
    @include page-background;

    p {
        @include roboto;
    }

    .about-welcome {
        @include flex(column, space-between, center);
        text-align: center;
        height: 85vh;

        .about-arrow {
            @include arrow;
        }

        h1 {
            @include font(5rem, 400);
            margin-top: 1.2em;
            color: $primary;
            margin-bottom: -0.125em;

            @media screen and (max-width: $laptop) {
                font-size: 4.5rem;
            }
        }

        p {
            @include font(1.75rem, 100, 115%);
            width: 30%;
            color: $light-gray;

            @media screen and (max-width: $laptop) {
                width: 40%;
            }
        }

        & > img {
            margin-top: 1em;
            width: 50%;
            min-width: 460px;
        }
    }

    .about-content {
        padding-top: 5em;
        width: 100%;

        p {
            @include font(1.5rem, 100, 115%);
            color: $dark-text;
        }

        .about-container {
            width: 90%;
            margin: auto;
            padding-top: 2em;

            .about-us {
                @include information-card;
                @include flex(row, flex-start, center);
                padding: 0 1em;

                h3 {
                    width: 30%;
                    text-align: center;
                    margin-inline: 1em;
                    font-size: 3.5rem;
                    color: $primary;
                }

                .about-us-text {
                    width: 65%;
                    margin-block: 3em;

                    & > p:first-child {
                        margin-bottom: 0.5em;
                    }
                }
            }

            .about-our-goal-wrapper {
                @include flex;
                width: 100%;

                .about-character {
                    @include flex(row, right, flex-end);
                    @include background(
                        '/assets/images/kyrgyz-flag-sm.png',
                        no-repeat,
                        80%,
                        center 40%
                    );
                    width: 25%;

                    img {
                        width: 30%;
                        margin-right: 2em;
                    }
                }

                .about-our-goal {
                    @include information-card;
                    width: 75%;
                    margin-block: 3em;
                    padding: 2.5em 0 1em 3.5em;

                    p {
                        width: 88%;
                        margin-bottom: 1em;
                    }

                    p:first-child {
                        width: 86%;
                        margin-bottom: 1em;
                    }
                }
            }

            .about-success-wrapper {
                @include flex(row, space-between, center);
                width: 100%;

                .about-success {
                    @include information-card;
                    width: 74%;
                    padding: 6em 3.5em;
                }

                a button {
                    @include button(
                        0.625em,
                        1.75em,
                        1.25rem,
                        $primary,
                        $primary,
                        white,
                        white,
                        $primary
                    );
                }
            }

            .about-collaboration {
                @include flex(row, space-between, center);
                width: 60%;
                margin: auto;
                padding: 4em 0 6em;

                img {
                    width: 30%;
                }
            }
        }
    }
}
