@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar {
    width: 52%;
    max-width: 100%;
    background-color: #eeeeee;
    border-radius: 0.75em;
    padding: 0.25em;
    line-height: 1.125em;

    * {
        @include roboto;
    }

    button {
        margin: 0;
        border: 0;
        outline: none;

        &:enabled:hover {
            cursor: pointer;
        }
    }

    .react-calendar__navigation {
        @include flex(row, space-evenly);
        height: 2rem;
        margin: 0 0 0.25em;
        padding-inline: 1.5em;

        button {
            width: 1.75rem;
            background: none;
            color: $primary;

            &:disabled {
                background-color: #f0f0f0;
            }
        }

        .react-calendar__navigation__label {
            pointer-events: none;

            .react-calendar__navigation__label__labelText {
                font-size: 1rem;
            }
        }

        .react-calendar__navigation__next2-button,
        .react-calendar__navigation__prev2-button {
            display: none;
        }
    }

    .react-calendar__viewContainer {
        background-color: white;
        border-radius: 0.5em;

        .react-calendar__month-view {
            .react-calendar__month-view__weekdays {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.75rem;

                .react-calendar__month-view__weekdays__weekday {
                    padding: 0.5em;

                    & > abbr {
                        text-decoration: none;
                    }

                    @media screen and (max-width: 1100px) {
                        & {
                            padding: 0.25em;
                        }
                    }
                }
            }

            .react-calendar__month-view__days {
                .react-calendar__tile {
                    max-width: 100%;
                    padding: 0.375em 0.25em;
                    background: none;
                    text-align: center;
                    line-height: 1rem;

                    @media screen and (max-width: $laptop) {
                        padding: 0.25em 0.25em;
                    }

                    &.react-calendar__month-view__days__day {
                        background-color: white;
                        border-radius: 0.25em;

                        &.react-calendar__month-view__days__day--neighboringMonth {
                            color: #757575;
                        }

                        &:hover {
                            background-color: #e6e6e6;
                            border-radius: 0.25em;
                        }

                        &.react-calendar__tile--active {
                            background-color: $primary;
                            color: white;
                            border-radius: 0.25em;

                            &:hover {
                                background-color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    @include flex(row, center, center);
    @include font(0.75rem, 700);
}

.react-calendar__tile--hasActive {
    background-color: $primary;
    color: white;
}

// !
