@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

.game-order-main {
    @include page-background;
    @include flex(column, flex-start, center);

    p {
        @include font(1.5rem);
        margin-bottom: 0.25em;
    }

    span,
    input,
    select {
        @include roboto;
        @include font;
        color: $primary;
    }

    span {
        margin-bottom: 0.25em;
    }

    hr {
        width: 65%;
        background-color: $border;
        margin-bottom: 1.25em;
    }

    & > button {
        @include font(1.125rem);
        border-radius: 0.5em;
        color: white;
        background-color: $primary;
        border: 0.125em solid $primary;
        padding: 0.625em 4.5em;
        margin: 0.5rem 0 2.5rem;

        &:hover {
            background-color: white;
            color: $primary;
        }
    }

    .game-order-form {
        width: 40%;
        background-color: white;
        box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
        border-radius: 0.75em;
        margin: 3em auto 2em;
        padding: 3em 1.5em 1.5em;

        @media screen and (max-width: $desktop) {
            & {
                max-width: 620px;
            }
        }

        @media screen and (max-width: $laptop-large) {
            & {
                max-width: 540px;
            }
        }

        @media screen and (max-width: $laptop) {
            & {
                min-width: 490px;
            }
        }

        @media screen and (max-width: $tablet) {
            & {
                min-width: 390px;
            }
        }

        .game-order-title {
            @include font(2.75rem);
            margin-bottom: 1.375em;
        }

        .form-select {
            @include flex(column);
            position: relative;
            width: 100%;
            margin-bottom: 0.75em;

            &::after {
                @include background(
                    '/assets/images/input-arrow-down.svg',
                    no-repeat,
                    contain,
                    center
                );
                content: '';
                position: absolute;
                top: 65%;
                transform: translateY(-35%);
                right: 0;
                width: 1rem;
                height: 1rem;
                margin-right: 0.75em;
                pointer-events: none;
            }

            select {
                color: #252525;
                background-color: $input-bg-color;
                border: none;
                border-radius: 0.75em;
                padding: 0.75em 1em;
                outline-color: $primary;
                appearance: none;
                cursor: pointer;

                &.disabled {
                    color: $placeholder-color;
                }
            }
        }

        .form-input.phone-input {
            .PhoneInput {
                @include flex(row-reverse, flex-start, center);
                position: relative;

                input {
                    width: 100%;
                }

                .PhoneInputCountry {
                    @include flex(row-reverse, flex-start, center);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    select {
                        @include background(
                            '/assets/images/input-arrow-down.svg',
                            no-repeat,
                            contain,
                            center
                        );
                        width: 1rem;
                        height: 1rem;
                        margin-inline: 0.75em;
                        background-color: transparent;
                        color: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }

                    .PhoneInputCountryIcon {
                        @include flex(row, center, center);

                        &:has(> .PhoneInputCountryIconImg[src*='KG.svg']) {
                            @include background(
                                '/assets/images/input-kyrgyz-flag.svg',
                                no-repeat,
                                contain,
                                center
                            );

                            .PhoneInputCountryIconImg {
                                opacity: 0;
                                width: 2.5rem;
                            }
                        }

                        .PhoneInputCountryIconImg {
                            width: 2rem;
                            border-radius: 0.25rem;
                        }
                    }
                }
            }
        }

        .game-order-contact-form {
            margin-bottom: 4em;
        }

        .game-order-game-form {
            margin-bottom: 4em;

            .game-order-game-form-inputs-wrapper {
                @include flex(row, space-between);
                gap: 2em;
                margin-top: 1.25em;

                & > .form-input {
                    margin: 0;
                }
            }
        }

        .game-order-date-form {
            .game-order-date-form-inputs-wrapper {
                @include flex(row, space-between);
            }

            .game-order-date-form-inputs {
                width: 44%;
            }
        }
    }
}
