@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

.game-order-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/images/page-background.png');
    background-size: 100%;

    p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.25em;
    }

    span,
    input,
    select {
        @include roboto;
        font-size: 1rem;
        font-weight: 400;
        color: $primary;
    }

    span {
        margin-bottom: 0.25em;
    }

    hr {
        width: 65%;
        background-color: $border;
        margin-bottom: 1.25em;
    }

    & > button {
        font-size: 1.125rem;
        border-radius: 0.5em;
        color: white;
        background-color: $primary;
        border: 0.125em solid $primary;
        padding: 0.625em 4.5em;
        margin: 0.5rem 0 2.5rem;

        &:hover {
            background-color: white;
            color: $primary;
        }
    }

    .game-order-form {
        width: 40%;
        background-color: white;
        box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
        border-radius: 0.75em;
        margin: 3em auto 2em;
        padding: 3em 1.5em 1.5em;

        @media screen and (max-width: $desktop) {
            & {
                max-width: 620px;
            }
        }

        @media screen and (max-width: $laptop-large) {
            & {
                max-width: 540px;
            }
        }

        @media screen and (max-width: $laptop) {
            & {
                min-width: 490px;
            }
        }

        @media screen and (max-width: $tablet) {
            & {
                min-width: 390px;
            }
        }

        .game-order-title {
            font-size: 2.75rem;
            margin-bottom: 1.375em;
        }

        .form-select {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.75em;
            width: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 65%;
                transform: translateY(-35%);
                right: 0;
                width: 1rem;
                height: 1rem;
                margin-right: 0.75em;
                background-image: url('../../assets/images/input-arrow-down.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                pointer-events: none;
            }

            select {
                color: #252525;
                background-color: $input-bg-color;
                border: none;
                border-radius: 0.75em;
                padding: 0.75em 1em;
                outline-color: $primary;
                appearance: none;
                cursor: pointer;

                &.disabled {
                    color: $placeholder-color;
                }
            }
        }

        .form-input.phone-input {
            .PhoneInput {
                position: relative;
                @include flex(row-reverse, flex-start, center);

                input {
                    width: 100%;
                }

                .PhoneInputCountry {
                    @include flex(row-reverse, flex-start, center);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    select {
                        width: 1rem;
                        height: 1rem;
                        margin-inline: 0.75em;
                        background-image: url('/assets/images/input-arrow-down.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        background-color: transparent;
                        color: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }

                    .PhoneInputCountryIcon {
                        @include flex(row, center, center);

                        &:has(> .PhoneInputCountryIconImg[src*='KG.svg']) {
                            background-image: url('/assets/images/input-kyrgyz-flag.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;

                            .PhoneInputCountryIconImg {
                                opacity: 0;
                                width: 2.5rem;
                            }
                        }

                        .PhoneInputCountryIconImg {
                            width: 2rem;
                            border-radius: 0.25rem;
                        }
                    }
                }
            }
        }

        .game-order-contact-form {
            margin-bottom: 4em;
        }

        .game-order-game-form {
            margin-bottom: 4em;

            .game-order-game-form-inputs-wrapper {
                display: flex;
                justify-content: space-between;
                gap: 2em;
                margin-top: 1.25em;

                & > .form-input {
                    margin: 0;
                }
            }
        }

        .game-order-date-form {
            .game-order-date-form-inputs-wrapper {
                display: flex;
                justify-content: space-between;
            }

            .game-order-date-form-inputs {
                width: 44%;
            }
        }
    }
}
